<header [class]="'navbar'">

  <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>

    <div class="wrapper">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/list">List</a></li>
        <li><a routerLink="/myList">MyList</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
</div>
</header>

<router-outlet></router-outlet>

<footer [class]="'footer'">
  <div [class]="'footer__div'">
    <a href="https://facebook.com/"><fa-icon [icon]="faFacebook" [class]="'footer__icon'"></fa-icon></a>
    <a href="https://twitter.com/"><fa-icon [icon]="faTwitter" [class]="'footer__icon'"></fa-icon></a>
    <a href="https://instagram.com/"><fa-icon [icon]="faInstagram" [class]="'footer__icon'"></fa-icon></a>
  </div>
  <p>Copyright © 2021 Pokemins Inc. Todos los derechos reservados.</p>
  <ul [class]="'footer__ul'">
    <li>Política de privacidad</li>
    <li>Uso de cookies</li>
    <li>Condiciones de uso</li>
  </ul>
</footer>
