<header>
  <a routerLink="/home">Home</a>
  <a routerLink="/list">List</a>
  <a routerLink="/myList">My List</a>
  <a routerLink="/about">About</a>
</header>

<router-outlet></router-outlet>

<footer>
  <ul>
    <a href="https://facebook.com/"><fa-icon [icon]="faFacebook"></fa-icon></a>
    <a href="https://twitter.com/"><fa-icon [icon]="faTwitter"></fa-icon></a>
    <a href="https://instagram.com/"><fa-icon [icon]="faInstagram"></fa-icon></a>
  </ul>
  <p>Copyright © 2021 Pokemins Inc. Todos los derechos reservados.</p>
  <ul>
    <li>Política de privacidad</li>
    <li>Uso de cookies</li>
    <li>Condiciones de uso</li>
  </ul>
</footer>
