<div class="detail-child2">
    <div class="detail-child2__card">
    <h4>Habilidades: </h4>
    <ul *ngFor="let ab of abilities">
        <!--habría que mostrar la descripción de la habilidad -->
        <li> {{ ab.ability.name | titlecase }} </li>
    </ul>
    </div>
    <div class="detail-child2__card">
    <h4>Tipo: </h4>
    <ul *ngFor="let type of types">
        <li> {{ type.type.name | titlecase }} </li>
    </ul>
    </div>
</div>
<div class="detail-child2__stat">
    <h4>Stats base: </h4>
    <ul *ngFor="let stat of stats">
        <li> {{ stat.stat.name | titlecase }} : {{stat.base_stat}} </li>
    </ul>
</div>