<h3>Para poder ser un superhéroe tendrás que:</h3>

<ul>
    <li>Actuar con honor e integridad. Como superhéroe real, debes dar el ejemplo a las personas que 
        te rodean, sobre todo a los jóvenes. </li>
    <li>Actuar con valentía. Uno de los deberes de un superhéroe real es asumir una responsabilidad 
        con tu comunidad y con las personas que te rodean.</li>
    <li>Piensa en el objetivo por el que quieres luchar. Muchos de los superhéroes de la vida real 
        luchan por una causa en particular.</li>
</ul>